/**
 * WordPress Administration Custom Font Menu Settings 
 * Interface CSS Styles.
 *
 * @package     WooCommerce
 * @subpackage  woocommerce-korean-juso-search-button
 * @author aloepig (aloepig@gmail.com)
 * @version     1.0.0
 * 
 */

 /**
 * Global Styles
 */
 #wc_juso_search_results .ui-selecting { background: #FECA40; }
 #wc_juso_search_results .ui-selected { background: #F39814; color: white; }

 #jh_juso_search_button { color: #F39814; }